# Dependencies
node_modules/

# Build output
/dist/*
!/dist/   # This ensures the dist folder itself is tracked
!/dist/**  # This ensures the contents of dist are tracked

# Testing
/coverage

# Local env files
.env*.local

# Logs
npm-debug.log*

 