<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="startup.sh" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="startup.sh" />
        </rule>
      </rules>
    </rewrite>
    <iisnode nodeProcessCommandLine="bash" />
  </system.webServer>
</configuration> 